/* body,
html {
    background-color: black;
    color: white !important;
    height: 100%;
} */

body {
    /* background: linear-gradient(to bottom left, #808080, #000000 40%); */
    background: linear-gradient(to bottom left, rgba(0, 0, 121, 1), #000000 60%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.body-login {
    background-image: url('images/mejores-tatuadores-del-mundo-scaled-e1657542931163.jpeg');
    /* Ruta a tu imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir toda el área del cuerpo */
    background-position: center;
    /* Posiciona la imagen en el centro */
}

.modal-login>.modal-dialog>.modal-content {
    background: linear-gradient(to bottom left, rgba(0, 0, 121, 1), #000000 70%);
}

.header-magnum-opus-image {
    width: 65px;
    height: 55px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-menu {
    color: white;
}

.footer-container {
    margin-top: 150px;
}

footer .text-body-secondary {
    color: aqua !important;
}

.courses-title {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-course {
    margin: 1%;
    margin-top: 3%;
    width: 22rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(41, 208, 8, 1);
    transition: transform 0.2s ease;
    /* background-color: rgba(70, 155, 246, 0.418) !important; */
    /* background-color: rgba(43, 255, 0, 0.518) !important; */
    /* background-color: rgba(41, 208, 8, 0.518) !important; */
    background-color: rgb(24, 128, 3) !important;
}

.card-course h3 {
    color: white;
}

.card-course .card-body li {
    color: black !important;
}

@media screen and (max-width: 1000px) {
    .card-course {
        width: 20rem;
    }
}

.card-course:hover {
    transform: scale(1.05);
    /* Aumentar el tamaño de la tarjeta al 105% */
}

.card-header {
    text-align: center;
    border: 1;
    padding-top: 3%;
    padding-bottom: 2%;
}

.card-body div ul li {
    background-color: inherit;
    border-color: silver;
}

.card-img-top {
    height: 286px;
}

.course-list-item {
    font-size: 14px;
    font-weight: 500;
}

.course-item-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}

.course-item-buttons a:nth-child(2) {
    border-color: yellowgreen;
    border-width: 2px !important;
    border-style: solid;
}

.image-container {
    width: 130px;
    /* Ajusta el tamaño según tus necesidades */
    height: 130px;
    /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    /* Hace que la imagen tenga forma circular */
    overflow: hidden;
    /* Oculta las partes de la imagen que se desbordan del contenedor circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Agrega sombra a los bordes */
}

.circular-image {
    display: block;
    width: 100%;
    /* Ajusta el tamaño de la imagen para que llene el contenedor circular */
    height:
        auto;
}

.topics-container .courses-topics {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.topics-container .topics-title {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.topics-container .course-topics-collapse {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* justify-items: center; */
    /* align-content: center; */
    align-items: center !important;
    height: fit-content;
    border: solid;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 1);
    margin-top: 4%;
}

.topics-container .course-topics-collapse>* {
    margin: 2%;
}

.topics-container .course-topics-collapse .collapse-topics-items {
    width: 100%;
}

.table * {
    background-color: transparent !important;
    /* --bs-table-bg: transparent !important; */
    /* box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg))) !important; */
    /* box-shadow: transparent !important; */
    color: white !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 121, 0.3) !important;
}


.bi-caret-down-square {
    fill: white;
}

.bi-caret-up-square {
    fill: white;
}

.testimonies-container {
    display: flex;
    flex-direction: column;
    /* margin:0%; */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
}

.testimonies-title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 45px;
}

.testimonies-title h1 {
    font-size: 300%;
}

.double-testimony-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.testimony-item {
    display: flex;
    padding-inline: 3%;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /* align-content: space-between; */
    /* height: fit-content; */
}

.image-testimony {
    width: 70px;
    /* Ajusta el tamaño según tus necesidades */
    height: 70px;
    /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    /* Hace que la imagen tenga forma circular */
    overflow: hidden;
    /* Oculta las partes de la imagen que se desbordan del contenedor circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Agrega sombra a los bordes */
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 20px;
}

.image-testimony .circular-image {
    width: 70px;
    align-items: center;
    justify-content: center;
}

.text-testimony {
    font-size: 90%;
    color: silver;
    font-weight: 100;
    font-style: italic;
}

/* Login html */

.card-login {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}