/* body,
html {
    background-color: black;
    color: white !important;
    height: 100%;
} */

body {
    /* background: linear-gradient(to bottom left, #808080, #000000 40%); */
    background: linear-gradient(to bottom left, rgba(0, 0, 121, 1), #000000 60%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.body-login {
    background-image: url('images/mejores-tatuadores-del-mundo-scaled-e1657542931163.jpeg');
    /* Ruta a tu imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir toda el área del cuerpo */
    background-position: center;
    /* Posiciona la imagen en el centro */
}

.modal-login>.modal-dialog>.modal-content {
    background: linear-gradient(to bottom left, rgba(0, 0, 121, 1), #000000 70%);
}

#purchaseModalCenter>div>.modal-content {
    border: solid;
    border-color: green;
}

#inputEmailId {
    width: 70%;
}

#purchaseModalCenter>div>.modal-content>form>.modal-body>ol>li::marker {
    border: solid;
    border-color: green;
    color: skyblue;
    font-weight: bold;
}

#buttonHereSignUp {
    padding: 0;
    border: 0;
    font-weight: bold;
    color: greenyellow;
}

#buttonHereSignUp:hover {
    text-decoration: underline;
}

.header-magnum-opus-image {
    width: 65px;
    height: 55px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-menu {
    color: white;
}

.footer-container {
    margin-top: 150px;
}

footer .text-body-secondary {
    color: aqua !important;
}

.courses-title {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-course {
    margin: 1%;
    margin-top: 3%;
    width: 22rem;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(41, 208, 8, 1);
    transition: transform 0.2s ease;
    /* background-color: rgba(70, 155, 246, 0.418) !important; */
    /* background-color: rgba(43, 255, 0, 0.518) !important; */
    /* background-color: rgba(41, 208, 8, 0.518) !important; */
    background-color: rgb(24, 128, 3) !important;
}

.card-course h3 {
    color: white;
}

.card-course .card-body li {
    color: black !important;
}

@media screen and (max-width: 1000px) {
    .card-course {
        width: 20rem;
    }
}

.card-course:hover {
    transform: scale(1.05);
    /* Aumentar el tamaño de la tarjeta al 105% */
}

.card-header {
    text-align: center;
    border: 1;
    padding-top: 3%;
    padding-bottom: 2%;
}

.card-body div ul li {
    background-color: inherit;
    border-color: silver;
}

.course-image {
    height: 45%;
    width: 100%;
    border-radius: 20px;
}


.course-list-item {
    font-size: 14px;
    font-weight: 500;
}

.course-item-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}

.course-item-buttons button:nth-child(2) {
    border-color: yellowgreen;
    border-width: 2px !important;
    border-style: solid;
}

.topics-container .courses-topics {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.topics-container .topics-title {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.topics-container .course-topics-collapse {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* justify-items: center; */
    /* align-content: center; */
    align-items: center !important;
    height: fit-content;
    border: solid;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 1);
    margin-top: 4%;
}

.topics-container .course-topics-collapse>* {
    margin: 2%;
}

.topics-container .course-topics-collapse .collapse-topics-items {
    width: 100%;
}

.table * {
    background-color: transparent !important;
    /* --bs-table-bg: transparent !important; */
    /* box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg))) !important; */
    /* box-shadow: transparent !important; */
    color: white !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 121, 0.3) !important;
}


.bi-caret-down-square {
    fill: white;
}

.bi-caret-up-square {
    fill: white;
}

/* -------- Testiomenies --------- */

.testimonies-container {
    display: flex;
    flex-direction: column;
    /* margin:0%; */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
}

.testimonies-title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 45px;
}

.testimonies-title h1 {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.testimonies-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 3%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* 2 columnas de igual tamaño */
    grid-template-rows: 1fr 1fr;
    /* 2 filas de igual tamaño */
    gap: 5px;
    /* Espacio entre las celdas */
    /* max-width: 500px; */
    max-width: 99%;
    /* Ancho máximo del grid */

    box-shadow: 0px 0px 10px rgba(192, 192, 192, 1);
    border-radius: 10px;
    overflow: hidden;


    /* margin: 0 auto; */
    /* Centrar el grid */
}

.grid-item {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.large {
    grid-column-start: 2;
    /* grid-column: span 2; La celda abarca 2 columnas */
    grid-row: span 2;
    /* La celda abarca 2 filas */
}

.grid-item {
    height: 90%;
    width: 100%;
}

.grid-item>img {
    max-width: 100%;
    /* Las imágenes ocuparán el ancho máximo disponible */
    height: 90%;
    /* La altura se ajusta automáticamente para mantener la proporción */
    border: 0px solid black;
}

#carouselExampleSlidesOnly {
    width: 30%;
    display: flex;
    align-items: center;
}

.carousel-inner {
    border: 1px solid rgba(192, 192, 192, 0.499);
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background-color: #ffffff2b;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.testimony-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    background-color: rgba(14, 212, 209, 0.504);
    border-radius: 10px;
    overflow: hidden;
}

.image-testimony {
    width: fit-content;
    height: 50%;
}

.image-testimony>img {
    width: 100%;
}

.text-testimony {
    color: silver;
    font-size: 100%;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    padding: 15px;
}

.testimony-item>div>p {
    margin: 0 !important;
}

@media screen and (max-width: 400px) {
    .testimonies-body {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 10%;
        /* height: 1000px; */
    }

    .grid-container {
        max-width: 70%;
    }

    #carouselExampleSlidesOnly {
        margin-top: 15px;
        width: 70%;
        display: flex;
        align-items: center;
    }

    .image-testimony {
        width: 50px;
        height: 50px;
    }

    .image-testimony .circular-image {
        width: 50px;
    }

    .text-testimony {
        color: silver;
        font-size: 70%;
        font-weight: 100;
        font-style: italic;
        text-align: center;
    }
}

/* Login html */

.card-login {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Footer */

.image-container {
    width: 130px;
    /* Ajusta el tamaño según tus necesidades */
    height: 130px;
    /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    /* Hace que la imagen tenga forma circular */
    overflow: hidden;
    /* Oculta las partes de la imagen que se desbordan del contenedor circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Agrega sombra a los bordes */
}

.circular-image {
    display: block;
    width: 100%;
    /* Ajusta el tamaño de la imagen para que llene el contenedor circular */
    height:
        auto;
}