.body-login {
    background-image: url('images/mejores-tatuadores-del-mundo-scaled-e1657542931163.jpeg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda el área del cuerpo */
    background-position: center; /* Posiciona la imagen en el centro */
}

.userNamesContainer {
    display: flex;
    justify-content: space-between;
}

.userNamesContainer div {
    width: 49%;
}

.card {
    max-width: 1000px;
}

.image-container {
    width: 130px; /* Ajusta el tamaño según tus necesidades */
    height: 130px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%; /* Hace que la imagen tenga forma circular */
    overflow: hidden; /* Oculta las partes de la imagen que se desbordan del contenedor circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra a los bordes */
}

.circular-image {
    display: block;
    width: 100%; /* Ajusta el tamaño de la imagen para que llene el contenedor circular */
    height: 
    auto;
}

.testimonies-container {
    display: flex;
    flex-direction: column;
    /* width: 70%; */
    font-weight: 100;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */

}

.testimonies-title {
    text-align: center;
    margin: 70px;
    /* margin-top: 40px; */
}

.double-testimony-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.testimony-item {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-testimony {
    width: 70px; /* Ajusta el tamaño según tus necesidades */
    height: 70px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%; /* Hace que la imagen tenga forma circular */
    overflow: hidden; /* Oculta las partes de la imagen que se desbordan del contenedor circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra a los bordes */
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.image-testimony .circular-image {
    width: 70px;
    align-items: center;
    justify-content: center;
}
